h1{
    margin: 25px;;
}

#container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 40%;
    border: solid lightgreen 1px;
    height: 80vh;
    width: 80%;
}

.train{
    width: fit-content;
    border: solid lightgreen 1px;
}