h1{
    margin-top: 80%;
    margin-bottom: 60%;
    font-size: 3em;
}

p{
    font-size: 1.5em;
    width: fit-content;
    padding: 8px;
    margin: 0 auto;
    background: rgb(128, 128, 128);
    background: linear-gradient(180deg, rgba(128,128,128,0.6393907904958859) 62%, rgba(54, 75, 52, 0.886) 150%);
}

p:hover{
    background: rgb(231, 15, 15);
    background: linear-gradient(180deg, rgba(214, 21, 21, 0.639) 62%, rgba(54, 75, 52, 0.886) 150%);

}
